/**********************GENERAL***********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
	--bg-dark: #1A1C22;
	--bg-grey: #3D3A50;
	--flash: #7a0ef6;
	--light: #f7f7f7;
}

* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all 0.2s ease 0s;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.6;
	font-family: 'Poppins', sans-serif;
	/* Visualisation des éléments */
	/*border: 1px dotted rgba(0,0,0,0.3);*/
}

*:hover {
	transition: all 0.2s ease 0s;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	color: var(--light);
	background-color: var(--bg-dark);
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	text-decoration: none;
}

/**************************************************/

/**********************HEADER***********************/

/* NAVBAR */

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* position: sticky; */
	width: 100%;
	background-color: var(--bg-dark);
	top: 0;
	padding-left: 5vw;
	padding-right: 5vw;
}

nav img {
	width: 50%;
	min-width: 100px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav li a {
	font-size: 1.6rem;
}

/* DROPDOWN MENU */

.dropdown-btn {
	color: var(--light);
	background-color: var(--bg-dark);
	padding: 10px 16px;
	border: 0.5px solid var(--flash);
	cursor: pointer;
	font-size: 1.6rem;
}

#dropdown {
	padding-left: 5vw;
}

#dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	cursor: pointer;
}

#dropdown-content a {
	color: var(--light);
	background-color: var(--bg-dark);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 1.6rem;
}

#dropdown-content a:hover {background-color: var(--bg-grey);}

#dropdown:hover #dropdown-content {display: block;}

/* HEADER SECTION BEST-MOVIE*/

#best-movie {
	height: 60vh;
	display: block;
	padding-top: 100px;
}

#best-movie div div {
	margin-left: 20%;
	padding-top: 20vh;
	display: flex;
	flex-direction: column;
}

#best-movie div {
	display: flex;
}

#best-movie h1 {
	font-size: 32px;
	margin: 0;
}

#best-movie div img {
	object-fit: cover;
	margin-left: 10vw;
	margin-right: 10vw;
	min-width: 16%;
}

#best-movie button {
	color: var(--light);
	padding: 10px 16px;
	border: 0.5px solid var(--flash);
	cursor: pointer;
	font-size: 1.6rem;
	background-color: var(--bg-dark);
	margin-top: 2vh;
}

#best-movie button:hover {
	background-color: var(--bg-grey);
}
/**************************************************/

/**********************HEADER***********************/

/* CAROUSEL */

#carousels h2 {
	margin-top: 10vh;
	text-align: center;
	margin-bottom: 10vh;
	font-size: 24px;
	font-weight: 600;
}

.carousel {
	display: flex;
	flex-direction: column;
	margin-bottom: 15vh;
	width: 100%;
	justify-content: center;
}

.carousel-wrap-all {
	display: flex;
	align-items: center;
	margin-left: 10%;
}

.carousel-wrapper {
	display: flex;
	align-items: center;
	width: 80%;
	overflow: hidden;
	position: relative;
}

.carousel-content {
	display: flex;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	justify-content: space-between;
	transition: .5s ease-in-out;
}

.carousel-wrap-all .arrow {
	padding: 12px;
	cursor: pointer;
	min-width: 50px;
	width: 4vw;
}

.carousel-content img {
	min-width: 24%;
	object-fit: cover;
	height: 100%;
	cursor: pointer;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

/* MODAL */

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
	overflow: auto;
	background-color: var(--bg-grey);
	padding: 1vw;
}

#modal span {
	padding: 12px;
	cursor: pointer;
	float: right;
}

#modal span img[alt="croix"] {
	width: 32px;
}

.modal-content {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-grey);
	color: var(--light);
	padding: 5vw;
}
